


<h2>Dount Time</h2>

<section>
    <p>Depiction:</p><img src="@ViewBag.Donut["photo"]"/>
    <p>Donut Demographics:@ViewBag.Donut["name"]</p>
    <p>Detriment:@ViewBag.Donut["calories"]calories</p>
    <p>Donut Details: @ViewBag.Donut["extras"]</p>


</section>

