


<h2>Dount Time</h2>

<section>
    <p>Depiction:</p><img src="@ViewBag.ThisDonut["photo"]"/>
    <p>Donut Demographics:@ViewBag.ThisDonut["name"]</p>
    <p>Detriment:@ViewBag.ThisDonut["calories"]calories</p>
    <p>Donut Details: @ViewBag.ThisDonut["extras"]</p>


</section>

